{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<article class="container text-center text-light p-4" style="background-color:#757575;">
<p> wqaewersadf</p>
<article>
{% endblock %}
