{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<article class="container text-center text-light p-4" style="background-color:#757575;">
    <h4> Hola a {{ app.user.email }}</h4>
    <div class="row justify-content-md-center">
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
        <div class="col-md-4 col-lg-2 col-xxl-2 btn btn-dark btn-block m-1">asasas</div>
    </div>
<article>
{% endblock %}
