{% extends 'base.html.twig' %}

{% block title %}Edit Juegosvideos{% endblock %}

{% block body %}
    <h1>Edit Juegosvideos</h1>

    {{ include('juegosvideos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_juegosvideos_index') }}">back to list</a>

    {{ include('juegosvideos/_delete_form.html.twig') }}
{% endblock %}
