{% extends 'base.html.twig' %}

{% block title %}Hello MorevideosController!{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<article class="container text-center text-light p-4" style="background-color:#757575;">
    <h1>Más videos</h1>
    <div class="row">
        <div class="col m-1">
            <div class="card text-bg-warning" style="width: 18rem;">
                <img src="{{ asset('build/images/109408-erbfd-article_m-1.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CALL OF DUTY: WORLD AT WAR </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card text-bg-warning" style="width: 18rem;">
                <img src="{{ asset('build/images/i5l1jLAhFSTiO7lSCNDWjJ2J.jpg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">CALL OF DUTY: MODERN WARFARE</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card text-bg-warning" style="width: 18rem;">
                <img src="{{ asset('build/images/metal-gear-solid.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">METAL GEAR SOLID SNAKE</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col m-1">
            <div class="card text-bg-warning" style="width: 18rem;">
                <img src="{{ asset('build/images/metal-gear-solid-2-sons-liberty-2532317.png') }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">METAL GEAR SOLID 2: SONS OF LIBERTY</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</article>
{% endblock %}
