{% extends 'base.html.twig' %}

{% block title %}Más Videos{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<article class="container text-center text-light p-4" style="background-color:#757575;">
    <h1>Más videos</h1>
    <div class="row">
    {% for juegosvideo in juegosvideos %}
        <div class="col m-1">
            <div class="card text-bg-warning" style="width: 18rem;">
                <img src={{ juegosvideo.destacadas }} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" style="text-transform: uppercase;">{{ juegosvideo.titulos }}</h5>
                    <p class="card-text">{{ juegosvideo.textos }}</p>
                    <a href={{ juegosvideo.boton }} class="btn btn-primary">Videos</a>
                </div>
            </div>
        </div> 
    {% else %}
    <h1>No se encontraron registros</h1>
    {% endfor %}       
    </div>
</article>
{% endblock %}
