{% extends 'base.html.twig' %}

{% block title %}theramtl error 404{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<article class="container text-center text-light p-4" style="background-color:#757575;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">¡Opps!</span> Página no encontrada.</p>
        <p class="lead">La página que buscas no existe.</p>
        <a href="{{ path('app_index') }}" class="btn btn-primary">Vete a casa</a>
    </div>
</article>
{% endblock %}