{% extends 'base.html.twig' %}

{% block title %}theramtl error 404{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}

    <h1>Page not found</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('app_index') }}">return to the homepage</a>.
    </p>
{% endblock %}