{% extends 'base.html.twig' %}

{% block title %}TheRAMTL - Sobre de mí{% endblock %}

{% block body %}
{% include 'menu.html.twig' %}
<article class="container text-center text-light" style="background-color:#757575;">
    <h1>Sobre de mí</h1>
    <div class="row">
        <div class="col-12">¡Bienvenido/as a mi canal de TheRAMTL!<br/>Toda mi vida siempre he tenido una gran afición por los videos juegos. Me encanta jugar y rierme así que decidí hacer un canal y compartirlo con el mundo. Si os apetece ya sabéis donde encontrarme.<br/>Soy una persona sorda y entre otros contenidos. Agradezco vuestra comprensión, también podéis mandar apoyo con vídeos, donde yo los pueda ver y así pasar las etapas de este magnifico juego. Esperamos que disfrutes del canal y gracias por el apoyo.</div>
        <div class="col-12">
        <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/Qx9VlSU3soQ?controls=0&amp;start=10" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
    </div>
</article>
{% endblock %}
